@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Suez+One&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

/*body, html {*/
/*    width: 100%;*/
/*    height: 4000px;*/
/*}*/

body {
    /*background-color: #110025;*/
    background: linear-gradient(to bottom, #110025, darkslateblue);
    /*background: linear-gradient(to bottom, red, orange, yellow, green, blue, darkblue, purple, red);*/
    font-family: Trebuchet MS, Helvetica;
}

/*стиль шапки*/
header {
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: black;
    border-radius: 0 0 0 40px;
    float: left;
    position: fixed;
}

header #logo {
    color: azure;
    text-align: center;
    cursor: default;
}

header #logo span {
    font-size: 1.8em;
    line-height: 50px;
    margin-left: 40px;
    font-family: 'Suez One', serif;
}

/*стиль меню*/
#about #NotAMenu{
    text-align: center;
    font-size: 1.1em;
    line-height: 40px;
    margin-bottom: 10px;
}

#about #NotAMenu> a {
    color: azure;
    border: 1px solid azure;
    padding: 8px;
    text-decoration: none;
}

#about #NotAMenu> a:hover {
    background: azure;
    color: black;
    transition: 0.5s;
    text-decoration: none
}
#about #NotAMenu> a:not(:last-child) {margin-right: 7%;}

.dropbtn {
    margin-top: 5px;
    margin-right: 15px;
    background-color: black;
    /*border-radius: 10px;*/
    /*float: right;*/
    color: azure;
    padding: 5px;
    font-size: 4em;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: darkslateblue;
    /*box-shadow:0px -10px 0 darkslateblue inset;*/
}

#Menu {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 10px;
    margin-right: 15px;
    display: none;
    position: absolute;
    background-color: azure;
    min-width: 460px;
    overflow: auto;
    right: 0;
    z-index: 1;
    overflow-y: scroll;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 3em;
    transition: 0.5s;
}

.dropdown-content a:hover {background-color: darkgray;}

.show {display: block;}

#top {
    float: left;
    /*margin-top: 60px;*/
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../Images/salyut.jpg);
    background-blend-mode: multiply;
    background-color: #2e3a44;
}

#top h1 {
    font-family: 'Suez One', serif;
    color: azure;
    text-align: center;
    padding-top: 40%;
    font-size: 5em;
}

#content {
    margin: 30px 10% 30px 10%;
    text-align: justify;
    float: left;
    width: 80%;
    color: azure;
    font-size: 1.1em;
}

#content h2 {
    margin: 15px;
    text-align: center;
}

#content li {
    margin-left: 40px;
}

.back_up {
    float: left;
    width: 4%;
    color: azure;
    font-size: 3em;
    text-align: center;
    border: 2px solid azure;
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 30px;
    margin: 0 2% 0 94%;
    cursor: pointer;
}

@media (max-height: 1200px) {
    #top h1 {padding-top: 5%;}
}

@media (max-height: 600px) {
    #top h1 {display: none}
}

@media (max-height: 585px) {
    .dropdown-content {height: 300%}
}

@media (max-width: 1610px) {
    #logo {
        margin-top: 15px;
        float: left;
        width: 70%;
        font-size: 3em;
    }
    #top {font-size: 0.8em;}
    #top h1 {margin-top: 30%;}
    #about #NotAMenu {display: none;}
    #about #Menu .dropbtn {display: block;}
    #about #Menu #navbar {display: none;}
    #content {font-size: 2em;}
    .back_up {
        width: 6%;
        margin: 0 1% 0 90%;
        border: none;
        font-size: 9em;
    }
}

@media (min-width: 1611px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;
    }
    #about #NotAMenu{
        float: right;
        width: 67%;
    }
    #about #Menu{display: none}
    .back_up:hover {
        border: 2px solid #110025;
        background-color: #110025;
        transition: 0.3s;
    }
}




