@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Suez+One&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

/*body, html {*/
/*    width: 100%;*/
/*    height: 4000px;*/
/*}*/

body {
    background-color: #110025;
    /*background: linear-gradient(to bottom, #110025, darkslateblue);*/
    /*background: linear-gradient(to bottom, red, orange, yellow, green, blue, darkblue, purple, red);*/
    font-family: Trebuchet MS, Helvetica;
}

/*стиль шапки*/
header {
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: black;
    border-radius: 0 0 0 40px;
    float: left;
    position: fixed;
    z-index: 100;
}

header #logo {
    color: azure;
    text-align: center;
    cursor: default;
}

header #logo span {
    font-size: 1.8em;
    line-height: 50px;
    margin-left: 40px;
    font-family: 'Suez One', serif;
}

/*стиль меню*/
#about #NotAMenu{
    text-align: center;
    font-size: 1.1em;
    line-height: 40px;
    margin-bottom: 10px;
}

#about #NotAMenu> a {
    color: azure;
    border: 1px solid azure;
    padding: 8px;
    text-decoration: none;
}

#about #NotAMenu> a:hover {
    background: azure;
    color: black;
    transition: 0.5s;
    text-decoration: none
}
#about #NotAMenu> a:not(:last-child) {margin-right: 7%;}

.dropbtn {
    margin-top: 5px;
    margin-right: 15px;
    background-color: black;
    /*border-radius: 10px;*/
    /*float: right;*/
    color: azure;
    padding: 5px;
    font-size: 4em;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: darkslateblue;
    /*box-shadow:0px -10px 0 darkslateblue inset;*/
}

#Menu {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 10px;
    margin-right: 15px;
    display: none;
    position: absolute;
    background-color: azure;
    min-width: 460px;
    overflow: auto;
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 3em;
    transition: 0.5s;
}

.dropdown-content a:hover {background-color: darkgray;}

.show {display: block;}

#content {
    margin: 60px 10% 30px 10%;
    text-align: justify;
    float: left;
    width: 80%;
    color: azure;
    font-size: 1.1em;
}

#content h1 {
    margin: 25px;
    text-align: center;
    text-decoration: underline
}

#content a {color: azure;}
#content a:hover {color: darkgray; text-decoration: underline}

.container {
    width: 450px;
    height: 500px;
    background-color: darkslateblue;
    border-radius: 10%;
    text-align: center;
    margin: 100px auto 30px auto;
    box-shadow: 0 5px 0 azure;
}

input[type="submit"] {
    width: 100px;
    height: 40px;
    background: azure;
    border: none;
    font-size: 18px;
    border-bottom: 10px solid #110025;
}

input[type="submit"]:hover {
    width: 120px;
    height: 48px;
    font-size: 22px;
    transition: 0.3s;
}

input[type="text"] {
    width: 300px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 25px;
    text-align: center;
}

input[type="number"] {
    width: 210px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 25px;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
/* Для Firefox */
input[type="number"]{
    -moz-appearance: textfield;
}

.quantity-arrow-minus,
.quantity-arrow-plus {
    background: #110025;
    color: azure;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 12px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    outline: none;
}

.quantity-arrow-minus:hover,
.quantity-arrow-plus:hover {
    border: 2px solid azure;
}

.container img {
    width: 120px;
    height: 120px;
    margin: -60px 0 30px 0;
    border: 10px solid #110025;
    border-radius: 50%;
}
.back {text-align: center;}
.back a {
    color: azure;
    text-decoration: none;
    font-size: 6em;
}

.info {
    display: none;
}

.back a:hover {
    transition: 0.3s;
    font-size: 8em;
}

@media (max-height: 585px) {
    .dropdown-content {height: 300%}
}

@media (max-width: 1610px) {
    #logo {
        margin-top: 15px;
        float: left;
        width: 70%;
        font-size: 3em;
    }
    #about #NotAMenu {display: none;}
    #about #Menu .dropbtn {display: block;}
    #about #Menu #navbar {display: none;}
    #content {font-size: 2em; margin-top: 100px;}
    #content h1 {
        margin-bottom: 200px;
    }
    .container {width: 100%;height: 1200px;box-shadow: 0 10px 0 azure; border-radius: 7%}
    input[type="submit"] {
        width: 300px;
        height: 120px;
        font-size: 45px;
    }
    input[type="submit"]:hover { width: 350px;height: 180px;font-size: 60px;}
    input[type="text"] {
        width: 700px;
        height: 130px;
        font-size: 45px;
        border-radius: 25px;
        margin-bottom: 70px;
    }
    input[type="number"] {
        width: 510px;
        height: 120px;
        font-size: 45px;
        border-radius: 25px;
        margin-bottom: 70px;
        text-align: center;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
    /* Для Firefox */
    input[type="number"]{
        -moz-appearance: textfield;
    }
    .quantity-arrow-minus,
    .quantity-arrow-plus {
        background: #110025;
        color: azure;
        cursor: pointer;
        font-size: 45px;
        padding: 10px 36px;
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        border: none;
        border-radius: 50%;
        outline: none;
    }
    .quantity-arrow-minus:hover,
    .quantity-arrow-plus:hover {
        border: 6px solid azure;
    }
    .container img {
        width: 240px;
        height: 240px;
        margin: -120px 0 30px 0;
        border: 20px solid #110025;
        border-radius: 50%;
    }
}

@media (min-width: 1611px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;
    }
    #about #NotAMenu{
        float: right;
        width: 67%;
    }
    #about #Menu{display: none}
    .back_up:hover {
        border: 2px solid #110025;
        background-color: #110025;
        transition: 0.3s;
    }
}